@page "/status"

<PageTitle>Status</PageTitle>

<h1>Hello, world!</h1>
<ul>
@foreach(var attendee in AttendanceManager.Instance.GetAllAttendees())
{
    <li>
        @attendee.Name
        @(attendee.CheckedInAt?.ToString() ?? "[ Not Yet Checked In ]")
    </li>
}
</ul>

@code {

    protected override void OnInitialized()
    {
        AttendanceManager.Instance.AttendeeAdded += ()=> InvokeAsync(StateHasChanged);
        AttendanceManager.Instance.AttendeeCheckedIn += ()=> InvokeAsync(StateHasChanged);
    }
}